.hidden {
    display: none !important;
}
.overlay {
    position: absolute;
    width: 1440px;
    height: 13061px;
    left: 0;
    top: 48px;
    background: rgba(0, 0, 0, 0.4);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
}

a:hover {
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.button:focus,
.button.focus {
    box-shadow: unset;
}

button:focus {
    outline: unset;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Inter',"Courier New", Courier, monospace;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    background: #fff;
}
.container {
    width: 1240px;
    padding: 0;
    margin: 0 auto;
}
.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #4D0FB6;
    min-height: 48px;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    display: flex;
    align-items: center;
}

.header-item-left {
    width: 70%;
}

.header-item-right {
    width: 30%;
    justify-content: flex-end;
}

.header-item-logo {
    width: 200px;
    height: 38px;
    display: block;
}

.header-menu {
    min-width: max-content;
}
.header-menu-item {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
}

.header-menu-item:hover {
    color: #ffffff;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links__icon {
    margin-right: 24px;
}

.header-links__icon:last-child {
    margin-right: 0;
}

.header-item-separator {
    background-color: #6B1FED;
    height: 30px;
    width: 1px;
    margin-right: 24px;
    margin-left: 24px;
}

.button-certificate {
    background-color: #6B1FED;
    color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
}

.button-certificate .button-icon {
    padding-right: 10px;
}

.favorites-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-icon__count {
    background-color: #6B1FED;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.tab-menu {
    margin-top: 48px;
    padding: 20px 0;
    background-color: #FAF8FC;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #F5F4F6;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
    width: 33.3%;
    padding: 5px;
    position: relative;
}

.nav-tabs .nav-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 15px;
    width: 1px;
    background-color: #F5F4F6;
}

.nav-tabs .nav-item:last-child:after {
    display: none;
}

.nav-tabs .nav-link {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    color: #242438;
    font-weight: bold;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-item.active .nav-link {
    color: #ffffff;
    border-color: transparent;
    background-color: #6B1FED;
}

.input-group {
    padding-top: 30px;
}
